div.footer
    div.container
        div.row
            div.col.col-lg-12 2020. Lite Shop. All rights reserverd.

script(src='/js/modules/LocalStorage.js')
script(src='/js/modules/Cart.js')
script(src='/js/nav.js')
script(src='/js/cart.js')
