div.site-nav.button-primary
    div.close-button-div
        button.button-primary-oulined.close-nav x
    h3.cart-header Goods
    div(id="category-list")
    h3.cart-header Cart
    div(id="cart-nav")
    div.text-right
        a(
            href="/order"
            target="_blank"            
        )
            button Order
            p #{name}