.wrap {
    background: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}

.container {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}

.site-header {
    height: auto;
    padding: 20px 0;
}

.site-header h1 {
    display: inline-block;
}

.full-width {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.card {
    border: 1px solid #dedede;
}

.goods-little-image {
    max-width: 90%;
    margin: 5%
}

.card-images {
    display: block;
    margin: 20px auto;
    max-width: 90%;
    min-width: 150px;
}

.site-nav {
    width: 300px;
    text-decoration: none;
    min-height: 100vh;
    position: fixed;
    left: -270px;
    top: 0;
    z-index: 9999999999;
    padding: 10px;
    transition: all ease 500ms;
    color: #fff;
}

.site-nav a {
    color: #424242
}

.close-button-div {
    text-align: right;
}

.show-nav {
    position: relative;
}

ul.category-list {
    list-style-type: disc;
}

ul.category-list a {
    color: #424242;
}

.cart-minus {
    cursor: pointer;
}

.cart-plus {
    cursor: pointer;
}

.text-black {
    color: #424242;
}